EURI_API_KEY=your-api-key-here
DATABASE_URL=your-database-url-here
MONGO_USERNAME=your-mongo-username-here
MONGO_PASSWORD=your-mongo-password-here
MONGO_HOSTNAME=your-mongo-hostname-here
MONGO_DATABASE=your-mongo-database-name-here
PINECONE_API_KEY=your-pinecone-api-key-here